<!-- wp:template-part {
    "slug":"header",
    "tagName":"header",
    "className":"header"
} /-->

<!-- wp:group {
    "tagName":"main",
    "className":"main",
    "style":{
        "spacing":{
            "margin":{
                "top":"0"
            }
        }
    },
    "layout":{
        "type":"constrained"
    }
} -->
<main class="main wp-block-group" style="margin-top:0">

        <!-- wp:heading {"level":1} -->
        <h1>404</h1>
        <!-- /wp:heading -->

        <!-- wp:paragraph -->
        <p>This page could not be found.</p>
        <!-- /wp:paragraph -->

        <!-- wp:search {
			"label":"Search",
			"showLabel":false,
			"placeholder":"Search...",
			"width":100,
			"widthUnit":"%",
			"buttonText":"Search",
			"buttonUseIcon":true,
			"align":"center"
		} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {
    "slug":"footer",
    "tagName":"footer",
    "className":"footer"
} /-->