<!-- wp:template-part {
    "slug":"header",
    "tagName":"header",
    "className":"header"
} /-->

<!-- wp:group {
    "tagName":"main",
    "className":"main",
    "style":{
        "spacing":{
            "margin":{
                "top":"0"
            }
        }
    },
    "layout":{
        "type":"constrained"
    }
} -->
<main class="main wp-block-group" style="margin-top:0">
	<!-- wp:pattern {"slug":"pse-vorlage/hidden-404"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {
    "slug":"footer",
    "tagName":"footer",
    "className":"footer"
} /-->
