<!-- wp:group {"style":{"dimensions":{"minHeight":"100vh"},"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical","flexWrap":"nowrap","justifyContent":"stretch"},"metadata":{"name":"Base Layout"}} -->
<div class="wp-block-group" style="min-height:100vh">
    <!-- wp:group {"tagName":"header","style":{"spacing":{"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}},"position":{"type":"sticky","top":"0px"}},"backgroundColor":"white","className":"header","layout":{"type":"constrained"},"metadata":{"name":"Header"}} -->
    <header class="wp-block-group header has-white-background-color has-background"
        style="padding-top:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20)">
        <!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|40"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
        <div class="wp-block-group"><!-- wp:site-logo {"width":50,"shouldSyncIcon":false} /-->

            <!-- wp:navigation {"ref":180,"showSubmenuIcon":false,"icon":"menu","layout":{"type":"flex","flexWrap":"wrap","setCascadingProperties":true,"justifyContent":"right"}} /-->
        </div>
        <!-- /wp:group -->
    </header>
    <!-- /wp:group -->

    <!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"}},"layout":{"selfStretch":"fill","flexSize":null}},"className":"main","layout":{"type":"default"}} -->
    <main class="wp-block-group main" style="margin-top:0"><!-- wp:post-content {"layout":{"type":"constrained"}} /-->
    </main>
    <!-- /wp:group -->

    <!-- wp:template-part {"slug":"footer","theme":"pse-vorlage","tagName":"footer","className":"footer"} /-->
</div>
<!-- /wp:group -->